@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="~/css/main.css" rel="stylesheet">
</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header fixed-sidebar">
        <div class="app-main">
            <div class="app-main__outer" style="padding-left: 0px;">
                <div class="app-main__inner">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-xl-4">
                            <div class="card-header">
                                <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>Dummy User
                            </div>
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-wrapper justify-content-center">
                                    <form id="login_form" class="needs-validation" novalidate method="POST"
                                        action="javascript:doLogin()" style="margin: auto; width: 50% !important;">
                                        <div class="position-relative row form-group">
                                            <label for="val-val_select_user" class="col-sm-5 col-form-label">Pilih
                                                User</label>
                                            <div class="col-sm-12">
                                                <select name="val_select_user" id="val_select_user" class="form-control"
                                                    required>
                                                    <option value="" disabled selected hidden>--User--</option>
                                                    @foreach (var users in ViewBag.AdkUserList)
                                                    {
                                                        <option value="@users.npp">@users.nama</option>
                                                    }
                                                </select>
                                                <div class="invalid-tooltip"> Pilih User! </div>
                                            </div>
                                        </div>
                                        <div class="position-relative row form-check">
                                            <div class="col-sm-10 offset-sm-9">
                                                <button id="login-btn" type="submit"
                                                    class="mb-2 mr-2 btn btn-lg btn-primary active">Login</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/ext/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <script type="text/javascript" src="~/js/plugins.js"></script>
    <script type="text/javascript" src="~/js/pages/login.js"></script>
    <script src="~/lib/cookies/Cookies.js"></script>
</body>

</html>


@* <form id="login_form" class="needs-validation" novalidate method="POST"
                                        action="javascript:doLogin()" style="margin: auto; width: 50% !important;">
                                        <div class="position-relative row form-group">
                                            <label for="val-val_select_user" class="col-sm-5 col-form-label">Pilih
                                                User</label>
                                            <div class="col-sm-12">
                                                <select name="val_select_user" id="val_select_user" class="form-control"
                                                    required>
                                                    <option value="" disabled selected hidden>--User--</option>
                                                    @foreach (var users in ViewBag.UserList)
                                                    {
                                                        <option value="@users.npp">@users.nama</option>
                                                    }
                                                </select>
                                                <div class="invalid-tooltip"> Pilih User! </div>
                                            </div>
                                        </div>
                                        <div class="position-relative row form-check">
                                            <div class="col-sm-10 offset-sm-9">
                                                <button id="login-btn" type="submit"
                                                    class="mb-2 mr-2 btn btn-lg btn-primary active">Login</button>
                                            </div>
                                        </div>
                                    </form> *@