﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@ViewData["UserName"]</p>
</div>
<script src="~/lib/jquery/ext/jquery.min.js"></script>
<script type="text/javascript" src="~/js/pages/home.js"></script>