﻿@{
    ViewData["Title"] = "Tracking dan Tracing";
}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <h2>ASDF</h2>
        </div>
    </div>
</div>

<div class="card-header">
    <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>Tracking
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="col-sm-12">
            <div class="position-relative row form-group">
                <label for="val_unit_asal" class="col-sm-2 col-form-label" style="padding-left: 35px;">Masukkan No
                    Memo/Notin<span class="text-danger"> *</span></label>
                <div class="col-sm-4">
                    <input name="val_unit_asal" id="val_unit_asal" type="text" class="form-control">
                </div>
                <div>
                    <button action="reset" class="mb-2 mr-2 btn btn-lg btn-primary active">Cari</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-header">
    <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>Data
</div><div class="main-card mb-3 card">
    <div class="card-body">
        <div class="col-sm-12">
            <div class="position-relative row form-group">
                <label for="val_generate_id" class="col-sm-2 col-form-label" style="padding-left: 35px;">Generate
                    ID<span class="text-danger"> *</span></label>
                <div class="col-sm-6">
                    <input name="val_generate_id" id="val_generate_id" type="text" class="form-control"
                        value='@ViewData["GeneratedId"]' disabled>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label for="val_unit_asal" class="col-sm-2 col-form-label" style="padding-left: 35px;">Unit Asal<span
                        class="text-danger"> *</span></label>
                <div class="col-sm-6">
                    <input name="val_unit_asal" id="val_unit_asal" type="text" class="form-control" disabled>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label for="val_unit_tujuan" class="col-sm-2 col-form-label" style="padding-left: 35px;">Unit
                    Tujuan<span class="text-danger"> *</span></label>
                <div class="col-sm-6">
                    <input name="email" id="exampleEmail" type="text" class="form-control" disabled>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">No Memo/Notin<span
                        class="text-danger"> *</span></label>
                <div class="col-sm-6">
                    <input name="email" id="exampleEmail" type="text" class="form-control" disabled>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">Tanggal
                    Memo/Notin<span class="text-danger"> *</span></label>
                <div class="col-sm-6">
                    <input name="email" id="exampleEmail" type="text" class="form-control" disabled>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-header">
    <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>Tracing
</div><div class="main-card mb-3 card">
    <div class="card-body">
        <!-- You can remove the class . if you want the block to have its regular padding -->
        @* <div class="timeline ">
            <h3 class="timeline-header">Web Conference <small>June 14, 2014</small><a class="ml-5 col-md-2 btn btn-lg btn-primary active">Detail</a></h3>
            <ul class="timeline-list timeline-hover">
                <li class="active">
                    <div class="timeline-icon"><i class="fa fa-bullseye"></i></div>
                    <div class="timeline-time">9:15 <strong>am</strong></div>
                    <div class="timeline-content">
                        <p class="push-bit"><strong>Web Design Session</strong></p>
                        A1 Conference Room
                    </div>
                </li>
                <li>
                    <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                    <div class="timeline-content">
                        <p class="push-bit"><strong>End of first day</strong></p>
                        <p class="push-bit">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel
                            imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt
                            turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet,
                            enim elit sollicitudin orci, eget dictum leo mi nec lectus.</p>
                        <p>Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel
                            euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus
                            nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque!
                        </p>
                    </div>
                </li>
                </ul>
            <div class="timeline-footer"></div>
        </div> *@
        <!-- END Timeline Style Content -->
    </div>
    <div class="card-body">
        <div class="col-sm-12">
            <div class="position-relative row form-group">
                <label for="val_unit_asal" class="col-sm-2 col-form-label" style="padding-left: 35px;"></label>
                <div class="col-sm-4">

                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="position-relative row form-group">
                <label for="val_unit_asal" class="col-sm-2 col-form-label" style="padding-left: 35px;"></label>
                <div class="col-sm-4">

                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="position-relative row form-group">
                <label for="val_unit_asal" class="col-sm-2 col-form-label" style="padding-left: 35px;"></label>
                <div class="col-sm-4">

                </div>
            </div>
        </div>
    </div>
</div>
