﻿@{
    ViewData["Title"] = "Unit Bisnis";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">

        </div>
    </div>
</div>
<div class="card-header">
    <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>Distribusi ADK
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <table id="todolistDT" class="mb-0 table table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>No Memo</th>
                    <th>Unit Input</th>
                    <th>Tanggal</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="~/lib/jquery/ext/jquery.min.js"></script>
<script type="text/javascript" src="~/js/pages/unit-bisnis.js"></script>