﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ADK e-Settlement</title>
    <link href="~/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/datatables.min.css" />
</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header fixed-sidebar">
        <!-- Header -->
        <div class="app-header header-shadow">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button"
                        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="~/images/avatars/avatar.png"
                                                alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            <div tabindex="-1" class="dropdown-divider"></div>
                                            <button onclick="javascript:logout()" type="button" tabindex="0"
                                                class="dropdown-item">Logout</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Header -->
        <div class="app-main">
            <!-- Side Bar-->
            <div class="app-sidebar sidebar-shadow">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                                data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar">
                    <div class="app-sidebar__inner">
                        <ul id="sidebar" class="vertical-nav-menu sidebar-menu">
                            <li class="app-sidebar__heading">Dashboard</li>
                            <li id="Index">
                                <a asp-controller="Home" asp-action="Index"><i
                                        class="metismenu-icon pe-7s-rocket"></i>Dashboard</a>
                            </li>
                            <li id="Inbox">
                                <a asp-controller="Inbox" asp-action="InboxPembatalan"><i
                                        class="metismenu-icon pe-7s-mail"></i>Inbox Penolakan</a>
                            </li>
                            <li id="Menu" class="app-sidebar__heading">Menu</li>
                            <li id="Input">
                                <a href="#" class="sidebar-menu-item"><i class="metismenu-icon pe-7s-note"></i>Inputer<i
                                        class="metismenu-state-icon pe-7s-angle-down caret-left"></i></a>
                                <ul id="inputNav">
                                    <li id="inputUnitBisnis">
                                        <a asp-controller="Inputer" asp-action="UnitBisnis"><i
                                                class="metismenu-icon"></i>Unit Bisnis</a>
                                    </li>
                                    <li id="inputAdk">
                                        <a asp-controller="Inputer" asp-action="Adk"><i
                                                class="metismenu-icon"></i>ADK</a>
                                    </li>
                                    <li id="inputSbo">
                                        <a asp-controller="Inputer" asp-action="Sbo"><i
                                                class="metismenu-icon"></i>SBO</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="Checker">
                                <a href="#" class="sidebar-menu-item"><i
                                        class="metismenu-icon pe-7s-check"></i>Checker<i
                                        class="metismenu-state-icon pe-7s-angle-down caret-left"></i></a>
                                <ul id="checkNav">
                                    <li id="checkerUnitBisnis">
                                        <a asp-controller="Checker" asp-action="UnitBisnis"><i
                                                class="metismenu-icon"></i>Unit Bisnis</a>
                                    </li>
                                    <li id="checkerAdk">
                                        <a asp-controller="Checker" asp-action="Adk"><i
                                                class="metismenu-icon"></i>ADK</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="Approver">
                                <a href="#" class="sidebar-menu-item"><i
                                        class="metismenu-icon pe-7s-ribbon"></i>Approver<i
                                        class="metismenu-state-icon pe-7s-angle-down caret-left"></i></a>
                                <ul id="approveNav">
                                    <li id="approveUnitBisnis">
                                        <a asp-controller="Approver" asp-action="UnitBisnis"><i
                                                class="metismenu-icon"></i>Unit Bisnis</a>
                                    </li>
                                    <li id="approveAdk">
                                        <a asp-controller="Approver" asp-action="Adk"><i
                                                class="metismenu-icon"></i>ADK</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="Distribusi">
                                <a href="#" class="sidebar-menu-item"><i
                                        class="metismenu-icon pe-7s-albums"></i>Distribusi<i
                                        class="metismenu-state-icon pe-7s-angle-down caret-left"></i></a>
                                <ul id="distribusiNav">
                                    <li id="distribusiAdk">
                                        <a asp-controller="Distribusi" asp-action="Adk"><i
                                                class="metismenu-icon"></i>Distribusi ADK</a>
                                    </li>
                                    <li id="distribusiPengelola">
                                        <a asp-controller="Distribusi" asp-action="Pengelola"><i
                                                class="metismenu-icon"></i>Distribusi Pengelola</a>
                                    </li>
                                    <li id="distribusiPenyelia">
                                        <a asp-controller="Distribusi" asp-action="Penyelia"><i
                                                class="metismenu-icon"></i>Distribusi Penyelia</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="Monitoring">
                                <a asp-controller="Monitoring" asp-action="Index"><i
                                        class="metismenu-icon pe-7s-monitor"></i>Monitoring</a>
                            </li>
                            <li id="Tracking">
                                <a asp-controller="TrackingTracing" asp-action="Index"><i
                                        class="metismenu-icon pe-7s-shuffle"></i>Tracking dan Tracing</a>
                            </li>
                            <li id="Admin" class="app-sidebar__heading">Admin</li>
                            <li id="Setting">
                                <a asp-controller="Setting" asp-action="Index"><i
                                        class="metismenu-icon pe-7s-config"></i>Konfigurasi</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END Side Bar-->

            <div class="app-main__outer">
                <div class="app-main__inner loadingDiv">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

                <!-- END Content-->
                <!--Footer-->
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner">
                            <div class="app-footer-right">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                                            Footer Link 3
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                                            <div class="badge badge-success mr-1 ml-0">
                                                <small>NEW</small>
                                            </div>
                                            Footer Link 4
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END Footer-->
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/ext/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/plugins.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <script type="text/javascript" src="~/js/pages/side-nav.js"></script>
    <script src="~/lib/cookies/Cookies.js"></script>
    @*<script>$(function () { SideNav.init(); });</script>*@

    <script type="text/javascript" src="~/lib/DataTables/datatables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

<div class="modal fade" id="modal-tambah-jenis-transaksi" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tambah Master Jenis Transaksi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="login_form" class="needs-validation" novalidate method="POST"
                action="javascript:tambahJenisTransaksi()">
                <div class="modal-body mr-2" style="margin: auto; width: 75% !important;">
                    <div class="position-relative row form-group">
                        <label for="val-add-no-transaksi" class="col-sm-3 col-form-label">Nomor Transaksi</label>
                        <div class="col-sm-5">
                            <input name="val-add-no-transaksi" id="val-add-no-transaksi" type="text"
                                class="form-control" required>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="val-add-nama-transaksi" class="col-sm-3 col-form-label">Nama Transaksi</label>
                        <div class="col-sm-5">
                            <input name="val-add-nama-transaksi" id="val-add-nama-transaksi" type="text"
                                class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-delete-jenis-transaksi" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hapus Master Jenis Transaksi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="login_form" class="needs-validation" novalidate method="POST"
                action="javascript:DeleteJenisTransaksi()">
                <div class="modal-body mr-2" style="margin: auto; width: 100% !important;">
                    <input type="hidden" id="trx-del-id" value="" />
                    <p id="trx-del-info"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary">Hapus</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-tambah-time-prosess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tambah Master Time Process</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="login_form" class="needs-validation" novalidate method="POST"
                action="javascript:AddTimeProcess()">
                <div class="modal-body" style="margin: auto; width: 75% !important;">
                    <div class="position-relative row form-group">
                        <label for="sel_add_time_process" class="col-sm-4 col-form-label">Jenis Transaksi</label>
                        <div class="col-sm-6">
                            <select name="sel_add_time_process" id="sel_add_time_process" class="form-control" required>
                                <option value="" disabled selected hidden>--Jenis Transaksi--</option>
                            </select>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="val_add_nama_proses" class="col-sm-4 col-form-label">Nama Proses</label>
                        <div class="col-sm-6">
                            <input name="val_add_nama_proses" id="val_add_nama_proses" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="val_add_waktu_proses" class="col-sm-4 col-form-label">Waktu Proses</label>
                        <div class="col-sm-6">
                            <input name="val_add_waktu_proses" id="val_add_waktu_proses" type="text" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit-jenis-transaksi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Master Jenis Transaksi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           <form id="login_form" class="needs-validation" novalidate method="POST"
                action="javascript:EditJenisTransaksi()">
                <div class="modal-body"style="margin: auto; width: 75% !important;">
                    <input type="hidden" id="val-edit-id-transaksi" value="" />
                    <div class="position-relative row form-group">
                        <label for="val-edit-no-transaksi" class="col-sm-3 col-form-label">Nomor Transaksi</label>
                        <div class="col-sm-5">
                            <input name="val-edit-no-transaksi" id="val-edit-no-transaksi" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="val-add-no-transaksi" class="col-sm-3 col-form-label">Nama Transaksi</label>
                        <div class="col-sm-5">
                            <input name="val-edit-nama-transaksi" id="val-edit-nama-transaksi" type="text" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit-time-process" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="login_form" class="needs-validation" novalidate method="POST"
                action="javascript:editTimeProses()">
                <div class="modal-body" style="margin: auto; width: 75% !important;">
                    <input type="hidden" id="val-edit-id-mtp" value="" />
                    <div class="position-relative row form-group">
                        <label for="val-edit-nama-mtp" class="col-sm-3 col-form-label">Nama Proses</label>
                        <div class="col-sm-5">
                            <input name="val-edit-nama-mtp" id="val-edit-nama-mtp" type="text" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="val-edit-waktu-mtp" class="col-sm-3 col-form-label">Waktu Proses</label>
                        <div class="col-sm-5">
                            <input name="val-edit-waktu-mtp" id="val-edit-waktu-mtp" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-delete-time-proses" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hapus Time Proses</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="login_form" class="needs-validation" novalidate method="POST"
                action="javascript:deleteTimeProses()">
                <div class="modal-body mr-2" style="margin: auto; width: 100% !important;">
                    <input type="hidden" id="mtp-del-id" value="" />
                    <p id="mtp-del-info"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary">Hapus</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-add-lookup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           <form id="login_form" class="needs-validation" novalidate method="POST"
                action="javascript:AddMasterLookup()">
                <div class="modal-body"style="margin: auto; width: 75% !important;">
                     <div class="position-relative row form-group">
                        <label for="val-add-tipe-lookup" class="col-sm-3 col-form-label">Tipe</label>
                        <div class="col-sm-5">
                            <input name="val-add-tipe-lookup" id="val-add-tipe-lookup" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="val-add-nama-lookup" class="col-sm-3 col-form-label">Nama</label>
                        <div class="col-sm-5">
                            <input name="val-add-nama-lookup" id="val-add-nama-lookup" type="text" class="form-control">
                        </div>
                    </div> <div class="position-relative row form-group">
                        <label for="val-add-nilai-lookup" class="col-sm-3 col-form-label">Nilai</label>
                        <div class="col-sm-5">
                            <input name="val-add-nilai-lookup" id="val-add-nilai-lookup" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="val-add-urutan-lookup" class="col-sm-3 col-form-label">Urutan</label>
                        <div class="col-sm-5">
                            <input name="val-add-urutan-lookup" id="val-add-urutan-lookup" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-delete-lookup" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hapus Master Lookup</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="login_form" class="needs-validation" novalidate method="POST"
                action="javascript:DeleteMasterLookup()">
                <div class="modal-body mr-2" style="margin: auto; width: 100% !important;">
                    <input type="hidden" id="lookup-del-id" value="" />
                    <p id="lookup-del-info"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary">Hapus</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit-lookup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           <form id="login_form" class="needs-validation" novalidate method="POST"
                action="javascript:UpdateMasterLookup()">
                <div class="modal-body"style="margin: auto; width: 75% !important;">
                    <input type="hidden" id="lookup-edit-id" value="" />
                     <div class="position-relative row form-group">
                        <label for="val-edit-tipe-lookup" class="col-sm-3 col-form-label">Tipe</label>
                        <div class="col-sm-5">
                            <input name="val-edit-tipe-lookup" id="val-edit-tipe-lookup" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="val-edit-nama-lookup" class="col-sm-3 col-form-label">Nama</label>
                        <div class="col-sm-5">
                            <input name="val-edit-nama-lookup" id="val-edit-nama-lookup" type="text" class="form-control">
                        </div>
                    </div> <div class="position-relative row form-group">
                        <label for="val-edit-nilai-lookup" class="col-sm-3 col-form-label">Nilai</label>
                        <div class="col-sm-5">
                            <input name="val-edit-nilai-lookup" id="val-edit-nilai-lookup" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="val-edit-urutan-lookup" class="col-sm-3 col-form-label">Urutan</label>
                        <div class="col-sm-5">
                            <input name="val-edit-urutan-lookup" id="val-edit-urutan-lookup" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>
