@{
    ViewData["Title"] = "Unit Bisnis";
}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <h2>Detail Memo</h2>
        </div>
    </div>
</div>

<form class="">
    <div class="card-header">
        <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>Input Data
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="col-sm-12">
                <div class="position-relative row form-group">
                    <label for="val_generate_id" class="col-sm-2 col-form-label" style="padding-left: 35px;">Generate
                        ID<span class="text-danger"> *</span></label>
                    <div class="col-sm-6">
                        <input name="val_generate_id" id="val_generate_id" type="text" class="form-control"
                            value='@ViewData["GeneratedId"]' disabled>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="val_unit_asal" class="col-sm-2 col-form-label" style="padding-left: 35px;">Unit
                        Asal<span class="text-danger"> *</span></label>
                    <div class="col-sm-6">
                        <input name="val_unit_asal" id="val_unit_asal" type="text" class="form-control" disabled>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="val_unit_tujuan" class="col-sm-2 col-form-label" style="padding-left: 35px;">Unit
                        Tujuan<span class="text-danger"> *</span></label>
                    <div class="col-sm-6">
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <select name="select" id="exampleSelect" class="form-control" disabled>
                                        <option value="">Pilih</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="position-relative form-group">
                                    <select name="select" id="exampleSelect" class="form-control" disabled>
                                        <option value="">Pilih</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">No
                        Memo/Notin<span class="text-danger"> *</span></label>
                    <div class="col-sm-6">
                        <input name="email" id="exampleEmail" type="text" class="form-control" disabled>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">Tanggal
                        Memo/Notin<span class="text-danger"> *</span></label>
                    <div class="col-sm-6">
                        <input name="email" id="exampleEmail" type="text" class="form-control" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header">
        <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>Informasi Debitur
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="col-sm-12">
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">Jenis
                        Transaksi<span class="text-danger"> *</span></label>
                    <div class="col-sm-6">
                        <select name="select" id="exampleSelect" class="form-control" disabled>
                            <option value="">Pilih</option>
                            <option value="">Fasilitas Pencairan Baru / Tambahan</option>
                            <option value="">Fasilitas Pencairan Berikutnya / Pemindahbukuan</option>
                        </select>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">Nama Cabang
                        Booking Officer<span class="text-danger">*</span></label>
                    <div class="col-sm-6">
                        <select name="select" id="exampleSelect" class="form-control" disabled>
                            <option value="">Pilih</option>

                        </select>
                        <small class="form-text text-muted" style="font-style: italic;font-size: 86%;">*Kode cabang
                            rekening Pinjaman</small>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">No
                        Rekening<span class="text-danger"> *</span></label>
                    <div class="col-sm-6">
                        <input name="email" id="exampleEmail" type="text" class="form-control" disabled>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">Nama
                        Debitur<span class="text-danger"> *</span></label>
                    <div class="col-sm-6">
                        <input name="email" id="exampleEmail" type="text" class="form-control" disabled>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">CIF<span
                            class="text-danger"> *</span></label>
                    <div class="col-sm-6">
                        <input name="email" id="exampleEmail" type="text" class="form-control" disabled>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="val_unit_tujuan" class="col-sm-2 col-form-label"
                        style="padding-left: 35px;">Nominal<span class="text-danger"> *</span></label>
                    <div class="col-sm-6">
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <select name="select" id="exampleSelect" class="form-control" disabled>
                                        <option value="">Pilih</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="position-relative form-group">
                                    <input name="email" id="exampleEmail" type="text" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">Unit
                        Tujuan<span class="text-danger"> *</span></label>
                    <div class="col-sm-6">
                        <select name="select" id="exampleSelect" class="form-control" disabled>
                            <option value="">Pilih</option>

                        </select>
                        <small class="form-text text-muted" style="font-style: italic;font-size: 86%;">*Unit yang
                            melakukan proses pembukuan</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header">
        <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>Informasi Tambahan
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="card-body">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-0" class="active nav-link">1. Pembukaan
                            Rekening</a></li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-1" class="nav-link">2. Maintenance</a>
                    </li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-2" class="nav-link">3. Pemindahbukuan</a>
                    </li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-3" class="nav-link">4. Penutupan
                            Rekening</a></li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-4" class="nav-link">5. Penerusan Telex</a>
                    </li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-5" class="nav-link">6. Jaminan</a></li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-6" class="nav-link">7. Asuransi</a></li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-7" class="nav-link">8. Pembatalan</a></li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-8" class="nav-link">9. Bucket
                            Adjustment</a></li>
                </ul>

                @{
                    var collection = ViewBag.TimeProces;
                }

                <div class="tab-content">
                    <div class="tab-pane active" id="tab-eg13-0" role="tabpanel">
                        <div>
                            <table id="" class="mb-0 table table-hover table-bordered col-md-9 "
                                style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Jenis Transaksi</th>
                                        <th class="col-md-2">Time Process</th>
                                        <th>Jumlah Transaksi</th>
                                        <th class="col-md-2">Total Time Process</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in collection)
                                    {
                                        @if (@items.jenisTransaksi == "Pembukaan Rekening")
                                        {
                                            var result = @items.namaProses;
                                            result = result.Replace(" ", "_");
                                            var inputId = result.Replace(result, result.ToLower());

                                            <tr>
                                                <td>@items.namaProses</td>
                                                @if (@items.waktu == 1)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td>@items.waktu</td>
                                                }
                                                <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center" disabled></td>
                                                <td></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-eg13-1" role="tabpanel">
                        <div>
                            <table id="" class="mb-0 table table-hover table-bordered col-md-9 "
                                style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Jenis Transaksi</th>
                                        <th class="col-md-2">Time Process</th>
                                        <th>Jumlah Transaksi</th>
                                        <th class="col-md-2">Total Time Process</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in collection)
                                    {
                                        @if (@items.jenisTransaksi == "Maintenance")
                                        {
                                            var result = @items.namaProses;
                                            result = result.Replace(" ", "_");
                                            var inputId = result.Replace(result, result.ToLower());

                                            <tr>
                                                <td>@items.namaProses</td>
                                                @if (@items.waktu == 1)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td>@items.waktu</td>
                                                }
                                                <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center" disabled></td>
                                                <td></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-eg13-2" role="tabpanel">
                        <div>
                            <table id="" class="mb-0 table table-hover table-bordered col-md-9 "
                                style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Jenis Transaksi</th>
                                        <th class="col-md-2">Time Process</th>
                                        <th>Jumlah Transaksi</th>
                                        <th class="col-md-2">Total Time Process</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in collection)
                                    {
                                        @if (@items.jenisTransaksi == "Pemindahbukuan")
                                        {
                                            var result = @items.namaProses;
                                            result = result.Replace(" ", "_");
                                            var inputId = result.Replace(result, result.ToLower());

                                            <tr>
                                                <td>@items.namaProses</td>
                                                @if (@items.waktu == 1)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td>@items.waktu</td>
                                                }
                                                <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center" disabled></td>
                                                <td></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-eg13-3" role="tabpanel">
                        <div>
                            <table id="" class="mb-0 table table-hover table-bordered col-md-9 "
                                style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Jenis Transaksi</th>
                                        <th class="col-md-2">Time Process</th>
                                        <th>Jumlah Transaksi</th>
                                        <th class="col-md-2">Total Time Process</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in collection)
                                    {
                                        @if (@items.jenisTransaksi == "Penutupan Rekening")
                                        {
                                            var result = @items.namaProses;
                                            result = result.Replace(" ", "_");
                                            var inputId = result.Replace(result, result.ToLower());

                                            <tr>
                                                <td>@items.namaProses</td>
                                                @if (@items.waktu == 1)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td>@items.waktu</td>
                                                }
                                                <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center" disabled></td>
                                                <td></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-eg13-4" role="tabpanel">
                        <div>
                            <table id="" class="mb-0 table table-hover table-bordered col-md-9 "
                                style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Jenis Transaksi</th>
                                        <th class="col-md-2">Time Process</th>
                                        <th>Jumlah Transaksi</th>
                                        <th class="col-md-2">Total Time Process</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in collection)
                                    {
                                        @if (@items.jenisTransaksi == "Penerusan Telex")
                                        {
                                            var result = @items.namaProses;
                                            result = result.Replace(" ", "_");
                                            var inputId = result.Replace(result, result.ToLower());

                                            <tr>
                                                <td>@items.namaProses</td>
                                                @if (@items.waktu == 1)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td>@items.waktu</td>
                                                }
                                                <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center" disabled></td>
                                                <td></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-eg13-5" role="tabpanel">
                        <div>
                            <table id="" class="mb-0 table table-hover table-bordered col-md-9 "
                                style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Jenis Transaksi</th>
                                        <th class="col-md-2">Time Process</th>
                                        <th>Jumlah Transaksi</th>
                                        <th class="col-md-2">Total Time Process</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in collection)
                                    {
                                        @if (@items.jenisTransaksi == "Jaminan")
                                        {
                                            var result = @items.namaProses;
                                            result = result.Replace(" ", "_");
                                            var inputId = result.Replace(result, result.ToLower());

                                            <tr>
                                                <td>@items.namaProses</td>
                                                @if (@items.waktu == 1)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td>@items.waktu</td>
                                                }
                                                <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center" disabled></td>
                                                <td></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-eg13-6" role="tabpanel">
                        <div>
                            <table id="" class="mb-0 table table-hover table-bordered col-md-9 "
                                style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Jenis Transaksi</th>
                                        <th class="col-md-2">Time Process</th>
                                        <th>Jumlah Transaksi</th>
                                        <th class="col-md-2">Total Time Process</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in collection)
                                    {
                                        @if (@items.jenisTransaksi == "Asuransi")
                                        {
                                            var result = @items.namaProses;
                                            result = result.Replace(" ", "_");
                                            var inputId = result.Replace(result, result.ToLower());

                                            <tr>
                                                <td>@items.namaProses</td>
                                                @if (@items.waktu == 1)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td>@items.waktu</td>
                                                }
                                                <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center" disabled></td>
                                                <td></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-eg13-7" role="tabpanel">
                        <div>
                            <table id="" class="mb-0 table table-hover table-bordered col-md-9 "
                                style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Jenis Transaksi</th>
                                        <th class="col-md-2">Time Process</th>
                                        <th>Jumlah Transaksi</th>
                                        <th class="col-md-2">Total Time Process</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in collection)
                                    {
                                        @if (@items.jenisTransaksi == "Pembatalan")
                                        {
                                            var result = @items.namaProses;
                                            result = result.Replace(" ", "_");
                                            var inputId = result.Replace(result, result.ToLower());

                                            <tr>
                                                <td>@items.namaProses</td>
                                                @if (@items.waktu == 1)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td>@items.waktu</td>
                                                }
                                                <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center" disabled></td>
                                                <td></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-eg13-8" role="tabpanel">
                        <div>
                            <table id="" class="mb-0 table table-hover table-bordered col-md-9 "
                                style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Jenis Transaksi</th>
                                        <th class="col-md-2">Time Process</th>
                                        <th>Jumlah Transaksi</th>
                                        <th class="col-md-2">Total Time Process</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in collection)
                                    {
                                        @if (@items.jenisTransaksi == "Bucket Adjusment")
                                        {
                                            var result = @items.namaProses;
                                            result = result.Replace(" ", "_");
                                            var inputId = result.Replace(result, result.ToLower());

                                            <tr>
                                                <td>@items.namaProses</td>
                                                @if (@items.waktu == 1)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td>@items.waktu</td>
                                                }
                                                <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center" disabled></td>
                                                <td></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-row" style="margin-top:15px;">
                    <div class="col-md-3">
                        <div class="position-relative form-group">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="position-relative form-group">
                            <label>Estimasi total waktu penyelesaian</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="position-relative form-group">
                        </div>
                    </div>
                    <div class="col-md-2" style="margin-left: 95px;padding-right: 70px;">
                        <div class="position-relative form-group">
                            <input name="email" id="exampleEmail" type="text" class="form-control" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header">
        <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>File Upload
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="col-sm-12">
                <div class="position-relative row form-group">
                    <table id="todolistDT" class="mb-0 table table-hover">
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>File Type</th>
                                <th>Size</th>
                                <th>Created Time</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header">
        <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>Inputer
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="col-sm-12">
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">Nama RO<span
                            class="text-danger"> *</span></label>
                    <div class="col-sm-6">
                        <input name="userName" id="userName" type="text" class="form-control" value="" disabled>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">No Telp<span
                            class="text-danger"> *</span></label>
                    <div class="col-sm-6">
                        <input name="email" id="exampleEmail" type="text" class="form-control" value="" disabled>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">No HP<span
                            class="text-danger"> *</span></label>
                    <div class="col-sm-6">
                        <input name="email" id="exampleEmail" type="text" class="form-control" value="" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="col-sm-12">
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">Komentar<span
                            class="text-danger"> *</span></label>
                    <div class="col-sm-6">
                        <textarea style="resize:none;" rows="9" name="email" id="exampleEmail" type="text"
                            class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-header">
        <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>History
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="col-sm-12">
                <div class="position-relative row form-group">
                    <table id="todolistDT" class="mb-0 table table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Unit Tujuan</th>
                                <th>Unit Input</th>
                                <th>NPP</th>
                                <th>Nama</th>
                                <th>Role</th>
                                <th>Action</th>
                                <th>Komentar/Pendapat</th>
                                <th>Tanggal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body" style="float: right;">
        <button  class="mb-2 mr-2 btn btn-lg btn-secondary active">
            Reject
        </button>
        <button action="submit" class="mb-2 mr-2 btn btn-lg btn-primary active">
            Submit
        </button>
    </div>
</form>
