@page
@{
}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">

        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-header">
        <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>Update Time Process
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="card-body">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-0" class="active nav-link">1.
                            Pembukaan
                            Rekening</a></li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-1" class="nav-link">2. Maintenance</a>
                    </li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-2" class="nav-link">3.
                            Pemindahbukuan</a>
                    </li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-3" class="nav-link">4. Penutupan
                            Rekening</a></li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-4" class="nav-link">5. Penerusan
                            Telex</a>
                    </li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-5" class="nav-link">6. Jaminan</a>
                    </li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-6" class="nav-link">7. Asuransi</a>
                    </li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-7" class="nav-link">8. Pembatalan</a>
                    </li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-8" class="nav-link">9. Bucket
                            Adjustment</a></li>
                </ul>

                @{
                    var collection = ViewBag.TimeProces;
                }

                <div class="tab-content">
                    <div class="tab-pane active" id="tab-eg13-0" role="tabpanel">
                        <div>
                            <table id="" class="mb-0 table table-hover table-bordered col-md-9 "
                                style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Jenis Transaksi</th>
                                        <th>Jumlah Transaksi</th>
                                        <th class="col-md-2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in collection)
                                    {
                                        @if (@items.jenisTransaksi == "Pembukaan Rekening")
                                        {
                                            var result = @items.namaProses;
                                            result = result.Replace(" ", "_");
                                            var inputId = result.Replace(result, result.ToLower());

                                            <tr>
                                                <td>@items.namaProses</td>
                                                @if (@items.waktu == 1)
                                                {
                                                    <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center"></td>
                                                }
                                                else
                                                {
                                                    <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center" value="@items.waktu" disabled></td>
                                                }
                                                <td> <a class="btn btn-lg btn-info active">Edit</a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-eg13-1" role="tabpanel">
                        <div>
                            <table id="" class="mb-0 table table-hover table-bordered col-md-9 "
                                style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Jenis Transaksi</th>
                                        <th>Jumlah Transaksi</th>
                                        <th class="col-md-2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in collection)
                                    {
                                        @if (@items.jenisTransaksi == "Maintenance")
                                        {
                                            var result = @items.namaProses;
                                            result = result.Replace(" ", "_");
                                            var inputId = result.Replace(result, result.ToLower());

                                            <tr>
                                                <td>@items.namaProses</td>
                                                @if (@items.waktu == 1)
                                                {
                                                    <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center"></td>
                                                }
                                                else
                                                {
                                                    <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center" value="@items.waktu" disabled></td>
                                                }
                                                <td> <a class="btn btn-lg btn-info active">Edit</a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-eg13-2" role="tabpanel">
                        <div>
                            <table id="" class="mb-0 table table-hover table-bordered col-md-9 "
                                style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Jenis Transaksi</th>
                                        <th>Jumlah Transaksi</th>
                                        <th class="col-md-2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in collection)
                                    {
                                        @if (@items.jenisTransaksi == "Pemindahbukuan")
                                        {
                                            var result = @items.namaProses;
                                            result = result.Replace(" ", "_");
                                            var inputId = result.Replace(result, result.ToLower());

                                            <tr>
                                                <td>@items.namaProses</td>
                                                @if (@items.waktu == 1)
                                                {
                                                    <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center"></td>
                                                }
                                                else
                                                {
                                                    <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center" value="@items.waktu" disabled></td>
                                                }
                                                <td> <a class="btn btn-lg btn-info active">Edit</a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-eg13-3" role="tabpanel">
                        <div>
                            <table id="" class="mb-0 table table-hover table-bordered col-md-9 "
                                style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Jenis Transaksi</th>
                                        <th>Jumlah Transaksi</th>
                                        <th class="col-md-2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in collection)
                                    {
                                        @if (@items.jenisTransaksi == "Penutupan Rekening")
                                        {
                                            var result = @items.namaProses;
                                            result = result.Replace(" ", "_");
                                            var inputId = result.Replace(result, result.ToLower());

                                            <tr>
                                                <td>@items.namaProses</td>
                                                @if (@items.waktu == 1)
                                                {
                                                    <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center"></td>
                                                }
                                                else
                                                {
                                                    <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center" value="@items.waktu" disabled></td>
                                                }
                                                <td> <a class="btn btn-lg btn-info active">Edit</a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-eg13-4" role="tabpanel">
                        <div>
                            <table id="" class="mb-0 table table-hover table-bordered col-md-9 "
                                style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Jenis Transaksi</th>
                                        <th>Jumlah Transaksi</th>
                                        <th class="col-md-2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in collection)
                                    {
                                        @if (@items.jenisTransaksi == "Penerusan Telex")
                                        {
                                            var result = @items.namaProses;
                                            result = result.Replace(" ", "_");
                                            var inputId = result.Replace(result, result.ToLower());

                                            <tr>
                                                <td>@items.namaProses</td>
                                                @if (@items.waktu == 1)
                                                {
                                                    <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center"></td>
                                                }
                                                else
                                                {
                                                    <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center" value="@items.waktu" disabled></td>
                                                }
                                                <td> <a class="btn btn-lg btn-info active">Edit</a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-eg13-5" role="tabpanel">
                        <div>
                            <table id="" class="mb-0 table table-hover table-bordered col-md-9 "
                                style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Jenis Transaksi</th>
                                        <th>Jumlah Transaksi</th>
                                        <th class="col-md-2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in collection)
                                    {
                                        @if (@items.jenisTransaksi == "Jaminan")
                                        {
                                            var result = @items.namaProses;
                                            result = result.Replace(" ", "_");
                                            var inputId = result.Replace(result, result.ToLower());

                                            <tr>
                                                <td>@items.namaProses</td>
                                                @if (@items.waktu == 1)
                                                {
                                                    <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center"></td>
                                                }
                                                else
                                                {
                                                    <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center" value="@items.waktu" disabled></td>
                                                }
                                                <td> <a class="btn btn-lg btn-info active">Edit</a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-eg13-6" role="tabpanel">
                        <div>
                            <table id="" class="mb-0 table table-hover table-bordered col-md-9 "
                                style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Jenis Transaksi</th>
                                        <th>Jumlah Transaksi</th>
                                        <th class="col-md-2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in collection)
                                    {
                                        @if (@items.jenisTransaksi == "Asuransi")
                                        {
                                            var result = @items.namaProses;
                                            result = result.Replace(" ", "_");
                                            var inputId = result.Replace(result, result.ToLower());

                                            <tr>
                                                <td>@items.namaProses</td>
                                                @if (@items.waktu == 1)
                                                {
                                                    <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center"></td>
                                                }
                                                else
                                                {
                                                    <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center" value="@items.waktu" disabled></td>
                                                }
                                                <td> <a class="btn btn-lg btn-info active">Edit</a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-eg13-7" role="tabpanel">
                        <div>
                            <table id="" class="mb-0 table table-hover table-bordered col-md-9 "
                                style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Jenis Transaksi</th>
                                        <th>Jumlah Transaksi</th>
                                        <th class="col-md-2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in collection)
                                    {
                                        @if (@items.jenisTransaksi == "Pembatalan")
                                        {
                                            var result = @items.namaProses;
                                            result = result.Replace(" ", "_");
                                            var inputId = result.Replace(result, result.ToLower());

                                            <tr>
                                                <td>@items.namaProses</td>
                                                @if (@items.waktu == 1)
                                                {
                                                    <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center"></td>
                                                }
                                                else
                                                {
                                                    <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center" value="@items.waktu" disabled></td>
                                                }
                                                <td> <a class="btn btn-lg btn-info active">Edit</a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-eg13-8" role="tabpanel">
                        <div>
                            <table id="" class="mb-0 table table-hover table-bordered col-md-9 "
                                style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Jenis Transaksi</th>
                                        <th>Jumlah Transaksi</th>
                                        <th class="col-md-2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in collection)
                                    {
                                        @if (@items.jenisTransaksi == "Bucket Adjusment")
                                        {
                                            var result = @items.namaProses;
                                            result = result.Replace(" ", "_");
                                            var inputId = result.Replace(result, result.ToLower());

                                            <tr>
                                                <td>@items.namaProses</td>
                                                @if (@items.waktu == 1)
                                                {
                                                    <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center"></td>
                                                }
                                                else
                                                {
                                                    <td><input name="@inputId" id="@inputId" type="text"
                                                class="form-control text-center" value="@items.waktu" disabled></td>
                                                }
                                                <td> <a class="btn btn-lg btn-info active">Edit</a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>