﻿<div class="app-main__inner">
    <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
        <li class="nav-item">
            <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#master-jenis-transaksi">
                <span>Master Jenis Transaksi</span>
            </a>
        </li>
        <li class="nav-item">
            <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#master-time-proses">
                <span>Master Time Process</span>
            </a>
        </li>
        <li class="nav-item">
            <a role="tab" class="nav-link" id="tab-2" data-toggle="tab" href="#master-lookup">
                <span>Master Lookup</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="master-jenis-transaksi" role="tabpanel">
            <a id="val-add-jenis-transaksi" class="mt-2 ml-2 mb-2 mr-2 btn btn-lg btn-success active"
                data-toggle="modal" data-target="#modal-tambah-jenis-transaksi">Tambah</a>
            <div class="card-header"><i>Master Jenis
                    Transaksi</i></div>
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <table id="tabel-master-jenis-transaksi" class="mb-0 table table-hover"
                        style="margin: auto; width: 100% !important;">
                        <thead>
                            <tr>
                                <th class="text-center"><b>Nomor Transaksi</b></th>
                                <th class="text-center"><b>Transaksi</b></th>
                                <th class="text-center"><b>Action</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var items in ViewBag.JenisTransaksi)
                            {
                                <tr>
                                    <td scope="row" class="text-center">@items.nomor</td>
                                    <td>@items.jenisTransaksi</td>
                                    <td class="text-center">
                                        <a class="btn btn-lg btn-info active" data-toggle="modal"
                                        data-target="#modal-edit-jenis-transaksi"
                                        id="@items.idTransaksi,@items.nomor,@items.jenisTransaksi"
                                        onclick='prevEdit(this)'>Edit</a>
                                        <a class="btn btn-lg btn-warning active" data-toggle="modal"
                                        data-target="#modal-delete-jenis-transaksi"
                                        id="@items.idTransaksi,@items.nomor,@items.jenisTransaksi"
                                        onclick='prevDelete(this)'>Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane tabs-animation fade" id="master-time-proses" role="tabpanel">
            <a id="val-add-jenis-transaksi" class="mt-2 ml-2 mb-2 mr-2 btn btn-lg btn-success active"
                data-toggle="modal" data-target="#modal-tambah-time-prosess" onclick='prefAddMtp()'>Tambah</a>
            <div class="main-card mb-3 card">
                <div class="card-header"><i>Master Time Proses</i>
                </div>
                <div class="main-card card">
                    <div class="card-body">
                        <div class="card-body">
                            @{
                                var jenisTransaksi = ViewBag.JenisTransaksi;
                            }
                            <form id="login_form" class="needs-validation" novalidate method="POST"
                                action="javascript:getMasterTimeProses()" style="margin: left; width: 75% !important;">
                                <div class="position-relative row form-group">
                                    <label for="val_tproses_jenis_transaksi" class="col-sm-2 col-form-label"
                                        style="padding-left: 35px;">Jenis Transaksi<span class="text-danger">
                                            *</span></label>
                                    <div class="col-sm-8">
                                        <div class="form-row">
                                            <div class="col-md-4">
                                                <div class="position-relative form-group" style="margin-bottom: 0px;">
                                                    <select name="val_tproses_jenis_transaksi"
                                                        id="val_tproses_jenis_transaksi" class="form-control" required>
                                                        <option value="" disabled selected hidden>Jenis Tranksaksi
                                                        </option>
                                                        @foreach (var items in jenisTransaksi)
                                                        {
                                                            <option value=@items.idTransaksi>@items.nomor.
                                                                @items.jenisTransaksi </option>
                                                        }
                                                    </select>
                                                    <div class="invalid-tooltip">
                                                        Pilih Jenis Transaksi!.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 form-check">
                                                <div class="position-relative form-group" style="margin-bottom: 0px;">
                                                    <button id="btn_filter_time_proses" type="submit"
                                                        class="mb-2 mr-2 btn btn-lg btn-primary active">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <table id="tabel-master-time_proses" class="mb-0 table table-hover"
                                style="margin: auto; width: 100% !important;">
                                <thead>
                                    <tr>
                                        <th class="text-center"><b>Nomor Transaksi</b></th>
                                        <th class="text-center"><b>Jenis Tranksaksi</b></th>
                                        <th class="text-center"><b>Nama Proses</b></th>
                                        <th class="text-center"><b>Waktu Proses</b></th>
                                        <th class="text-center"><b>Action</b></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane tabs-animation fade" id="master-lookup" role="tabpanel">
            <a id="val-add-jenis-transaksi" class="mt-2 ml-2 mb-2 mr-2 btn btn-lg btn-success active"
                data-toggle="modal" data-target="#modal-add-lookup">Tambah</a>
            <div class="card-header"><i>Master Lookup</i></div>
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form id="login_form" class="needs-validation" novalidate method="POST"
                        action="javascript:GetMasterLookup()" style="margin: left; width: 75% !important;">
                        <div class="position-relative row form-group">
                            <label for="val_filter_lookup" class="col-sm- col-form-label"
                                style="padding-left: 35px;">Filter<span class="text-danger">
                                    *</span></label>
                            <div class="col-sm-8">
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="position-relative form-group" style="margin-bottom: 0px;">
                                            <select name="val_filter_lookup" id="val_filter_lookup" class="form-control"
                                                required>
                                                <option value="" disabled selected hidden>Filter</option>
                                                <option value="orderBy">Order By</option>
                                                <option value="tipe">Tipe</option>
                                            </select>
                                            <div class="invalid-tooltip">
                                                Pilih Filter!.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="position-relative form-group" style="margin-bottom: 0px;">
                                            <select name="val_filter_size_lookup" id="val_filter_size_lookup" class="form-control"
                                                required>
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="position-relative form-group" style="margin-bottom: 0px;">
                                            <input name="val_filter_value_lookup" id="val_filter_value_lookup"
                                                type="text" class="form-control" required>
                                            <div class="invalid-tooltip">
                                                Masukkan Filter!.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 form-check">
                                        <div class="position-relative form-group" style="margin-bottom: 0px;">
                                            <button id="login-filter" type="submit"
                                                class="mb-2 mr-2 btn btn-lg btn-primary active">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="tabel-master-lookup" class="mb-2 table table-hover"
                        style="margin: auto; width: 100% !important;">
                        <thead>
                            <tr>
                                <th class="text-center"><b>Urutan</b></th>
                                <th class="text-center"><b>Tipe</b></th>
                                <th class="text-center"><b>Nama</b></th>
                                <th class="text-center"><b>Nilai</b></th>
                                <th class="text-center"><b>Action</b></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/ext/jquery.min.js"></script>
<script type="text/javascript" src="~/js/pages/setting.js"></script>
