﻿@{
    ViewData["Title"] = "Unit Bisnis";
}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">

        </div>
    </div>
</div>
<div class="card-header">
    <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>Memo Unit Bisnis
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <form class="">
            <fieldset class="position-relative row form-group">
                <legend class="col-form-label col-sm-2">Data</legend>
                <div class="col-sm-12">
                    <div class="position-relative row form-group">
                        <label for="val_generate_id" class="col-sm-2 col-form-label" style="padding-left: 35px;">Generate ID<span class="text-danger"> *</span></label>
                        <div class="col-sm-10">
                            <input name="val_generate_id" id="val_generate_id" type="text" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="val_unit_asal" class="col-sm-2 col-form-label" style="padding-left: 35px;">Unit Asal<span class="text-danger"> *</span></label>
                        <div class="col-sm-10">
                            <input name="val_unit_asal" id="val_unit_asal" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="val_unit_tujuan" class="col-sm-2 col-form-label" style="padding-left: 35px;">Unit Tujuan<span class="text-danger"> *</span></label>
                        <div class="col-sm-10">
                            <div class="form-row">
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <select name="select" id="exampleSelect" class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="position-relative form-group">
                                        <select name="select" id="exampleSelect" class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">No Memo/Notin<span class="text-danger"> *</span></label>
                        <div class="col-sm-10">
                            <input name="email" id="exampleEmail" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">Tanggal Memo/Notin<span class="text-danger"> *</span></label>
                        <div class="col-sm-10">
                            <input name="email" id="exampleEmail" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="position-relative row form-group">
                <legend class="col-form-label col-sm-2">Informasi Debitur</legend>
                <div class="col-sm-12">
                    <div class="position-relative row form-group">
                        <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">Jenis Transaksi<span class="text-danger"> *</span></label>
                        <div class="col-sm-10">
                            <select name="select" id="exampleSelect" class="form-control">
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">Nama Cabang Booking Officer<span class="text-danger"> *</span></label>
                        <div class="col-sm-10">
                            <select name="select" id="exampleSelect" class="form-control">
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">No Rekening<span class="text-danger"> *</span></label>
                        <div class="col-sm-10">
                            <input name="email" id="exampleEmail" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">Nama Debitur<span class="text-danger"> *</span></label>
                        <div class="col-sm-10">
                            <input name="email" id="exampleEmail" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">CIF<span class="text-danger"> *</span></label>
                        <div class="col-sm-10">
                            <input name="email" id="exampleEmail" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="val_unit_tujuan" class="col-sm-2 col-form-label" style="padding-left: 35px;">Nominal<span class="text-danger"> *</span></label>
                        <div class="col-sm-10">
                            <div class="form-row">
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <select name="select" id="exampleSelect" class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="position-relative form-group">
                                        <select name="select" id="exampleSelect" class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">Unit Tujuan<span class="text-danger"> *</span></label>
                        <div class="col-sm-10">
                            <select name="select" id="exampleSelect" class="form-control">
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="position-relative row form-group">
                <legend class="col-form-label col-sm-2">Informasi Tambahan</legend>
                <div class="card-body">
                    <div class="card-header-title">
                        <i class="header-icon lnr-bicycle icon-gradient bg-love-kiss"> </i>
                        Jenis Transaksi
                    </div>
                    <br/>
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-0" class="active nav-link">1. Pembukaan Rekening</a></li>
                        <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-1" class="nav-link">2. Maintenance</a></li>
                        <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-2" class="nav-link">3. Pemindahbukuan</a></li>
                        <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-3" class="nav-link">4. Penutupan Rekening</a></li>
                        <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-4" class="nav-link">5. Penerusan Telex</a></li>
                        <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-5" class="nav-link">6. Jaminan</a></li>
                        <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-6" class="nav-link">7. Asuransi</a></li>
                        <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-7" class="nav-link">8. Pembatalan</a></li>
                        <li class="nav-item"><a data-toggle="tab" href="#tab-eg13-8" class="nav-link">9. Bucket Adjustment</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-eg13-0" role="tabpanel">
                            <div>
                                <table id="" class="mb-0 table table-hover table-bordered col-md-9 " style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                    <thead>
                                        <tr>
                                            <th class="col-md-5">Jenis Transaksi</th>
                                            <th class="col-md-2">Time Process</th>
                                            <th>Jumlah Transaksi</th>
                                            <th class="col-md-2">Total Time Process</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>BNI Instant</td>
                                            <td></td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>IBP 20</td>
                                            <td>5</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>KMK/TL</td>
                                            <td>27</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>KI</td>
                                            <td>45</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>KUR</td>
                                            <td>50</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Kolektif</td>
                                            <td>10</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>PPH</td>
                                            <td>54</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>TR/Tag Aksep 22</td>
                                            <td></td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-eg13-1" role="tabpanel">
                            <div>
                                <table id="" class="mb-0 table table-hover table-bordered col-md-9 " style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                    <thead>
                                        <tr>
                                            <th class="col-md-5">Jenis Transaksi</th>
                                            <th class="col-md-2">Time Process</th>
                                            <th>Jumlah Transaksi</th>
                                            <th class="col-md-2">Total Time Process</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Afiliasi/Tgl Bunga/Kode GL</td>
                                            <td></td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Blokir/Posting/Pending</td>
                                            <td>5</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Jadwal Angsuran Pokok</td>
                                            <td>27</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Jatuh Tempo</td>
                                            <td>45</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Kolektibility Restrukturisasi</td>
                                            <td>50</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Kolektif/Upload</td>
                                            <td>10</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Maksimum/Adjust Disponsible</td>
                                            <td>54</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Rate Bunga/Akural/Overide</td>
                                            <td></td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>RM/Sentra/Flak KMK/Kode Institusi</td>
                                            <td></td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-eg13-2" role="tabpanel">
                            <div>
                                <table id="" class="mb-0 table table-hover table-bordered col-md-9 " style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                    <thead>
                                        <tr>
                                            <th class="col-md-5">Jenis Transaksi</th>
                                            <th class="col-md-2">Time Process</th>
                                            <th>Jumlah Transaksi</th>
                                            <th class="col-md-2">Total Time Process</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Escrow</td>
                                            <td></td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Kliring/RTGS</td>
                                            <td>5</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Kolektif/Upload</td>
                                            <td>27</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Voucher BNI Internal</td>
                                            <td>45</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-eg13-3" role="tabpanel">
                            <div>
                                <table id="" class="mb-0 table table-hover table-bordered col-md-9 " style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                    <thead>
                                        <tr>
                                            <th class="col-md-5">Jenis Transaksi</th>
                                            <th class="col-md-2">Time Process</th>
                                            <th>Jumlah Transaksi</th>
                                            <th class="col-md-2">Total Time Process</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Kolektif/Upload</td>
                                            <td>27</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Reguler</td>
                                            <td>5</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Status : Baru</td>
                                            <td>27</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-eg13-4" role="tabpanel">
                            <div>
                                <table id="" class="mb-0 table table-hover table-bordered col-md-9 " style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                    <thead>
                                        <tr>
                                            <th class="col-md-5">Jenis Transaksi</th>
                                            <th class="col-md-2">Time Process</th>
                                            <th>Jumlah Transaksi</th>
                                            <th class="col-md-2">Total Time Process</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Facsimile</td>
                                            <td>27</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Surat/GB</td>
                                            <td>5</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-eg13-5" role="tabpanel">
                            <div>
                                <table id="" class="mb-0 table table-hover table-bordered col-md-9 " style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                    <thead>
                                        <tr>
                                            <th class="col-md-5">Jenis Transaksi</th>
                                            <th class="col-md-2">Time Process</th>
                                            <th>Jumlah Transaksi</th>
                                            <th class="col-md-2">Total Time Process</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Create</td>
                                            <td>27</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Kolektif/Uplaod</td>
                                            <td>5</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Update</td>
                                            <td>5</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-eg13-6" role="tabpanel">
                            <div>
                                <table id="" class="mb-0 table table-hover table-bordered col-md-9 " style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                    <thead>
                                        <tr>
                                            <th class="col-md-5">Jenis Transaksi</th>
                                            <th class="col-md-2">Time Process</th>
                                            <th>Jumlah Transaksi</th>
                                            <th class="col-md-2">Total Time Process</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Create Manual</td>
                                            <td>27</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Create System</td>
                                            <td>5</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-eg13-7" role="tabpanel">
                            <div>
                                <table id="" class="mb-0 table table-hover table-bordered col-md-9 " style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                    <thead>
                                        <tr>
                                            <th class="col-md-5">Jenis Transaksi</th>
                                            <th class="col-md-2">Time Process</th>
                                            <th>Jumlah Transaksi</th>
                                            <th class="col-md-2">Total Time Process</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Pembatalan</td>
                                            <td>27</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-eg13-8" role="tabpanel">
                            <div>
                                <table id="" class="mb-0 table table-hover table-bordered col-md-9 " style="margin-left: 100px;margin-right: 100px;left: 60px;">
                                    <thead>
                                        <tr>
                                            <th class="col-md-5">Jenis Transaksi</th>
                                            <th class="col-md-2">Time Process</th>
                                            <th>Jumlah Transaksi</th>
                                            <th class="col-md-2">Total Time Process</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Bucket Adjusment</td>
                                            <td>27</td>
                                            <td><input name="email" id="exampleEmail33" type="text" class="form-control text-center"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="position-relative row form-group">
                <legend class="col-form-label col-sm-2">Upload file</legend>
                <div class="col-sm-12">
                    <div class="position-relative row form-group">
                        <div class="col-sm-12" style="margin-left: 35px;">
                            <input name="file" id="exampleFile" type="file" class="form-control-file">
                            <small class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <table  id="" class="mb-0 table table-hover table-bordered" style="margin-left: 35px;margin-right: 15px;">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>File Name</th>
                                    <th>File Type</th>
                                    <th>Pengupload</th>
                                    <th>File Zise(KB)</th>
                                    <th>Created Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
            <fieldset class="position-relative row form-group">
                <legend class="col-form-label col-sm-2">Inputer</legend>
                <div class="col-sm-12">
                    <div class="position-relative row form-group">
                        <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">Nama RO<span class="text-danger"> *</span></label>
                        <div class="col-sm-10">
                            <input name="email" id="exampleEmail" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">No Telp<span class="text-danger"> *</span></label>
                        <div class="col-sm-10">
                            <input name="email" id="exampleEmail" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">No HP<span class="text-danger"> *</span></label>
                        <div class="col-sm-10">
                            <input name="email" id="exampleEmail" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="exampleEmail" class="col-sm-2 col-form-label" style="padding-left: 35px;">Komentar<span class="text-danger"> *</span></label>
                        <div class="col-sm-10">
                            <textarea style="resize:none;" rows="9" name="email" id="exampleEmail" type="text" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
</div>