﻿@{
    ViewData["Title"] = "Unit Bisnis";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
         
        </div>
    </div>
</div>
<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li>
        <a asp-controller="UnitBisnis" asp-action="BuatMemo" class="btn btn-primary">
            <span>Buat Memo</span>
        </a>
    </li>
</ul>
<div class="card-header">
    <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>Memo Unit Bisnis
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <table id="todolistDT" class="mb-0 table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Unit Tujuan</th>
                    <th>Unit Input</th>
                    <th>Nama Debitur</th>
                    <th>Inputer Unit</th>
                    <th>Checker Unit</th>
                    <th>Approver Unit</th>
                    <th>Distribusi</th>
                    <th>Inputer ADK</th>
                    <th>Checker ADK</th>
                    <th>Approver ADK</th>
                    <th>Distribusi</th>
                    <th>Inputer SBO</th>
                    <th>Durasi (menit)</th>
                    <th>ETA</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/pages/unit-bisnis.js"></script>