﻿@{
    ViewData["Title"] = "Unit Bisnis";
}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <h2>Input Memo Unit Bisnis</h2>
        </div>
    </div>
</div>

<form class="needs-validation" enctype="multipart/form-data" novalidate id="inputUnitBisnis" method="post" action="javascript:doSubmit()">
    <div class="card-header">
        <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>Input Data
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="col-sm-12">
                <input hidden name="val_generate_id" id="val_generate_id" type="text" class="form-control" disabled required>
                <div class="position-relative row form-group">
                    <label for="val_unit_asal" class="col-sm-2 col-form-label" style="padding-left: 35px;">
                        Unit
                        Asal<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-6">
                        <input name="val_unit_asal" id="val_unit_asal" type="text" class="form-control" required value="@ViewBag.MemoInitialization.data.divisi">
                        <div class="invalid-tooltip">
                            Masukkan unit asal!.
                        </div>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="val_unit_tujuan" class="col-sm-2 col-form-label" style="padding-left: 35px;">
                        Unit
                        Tujuan<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-6">
                        <input name="val_unit_tujuan" id="val_unit_tujuan" type="text" class="form-control" required value="@ViewBag.UnitTujuan.nama">
                        <div class="invalid-tooltip">
                            Masukkan unit tujuan!.
                        </div>
                    </div>

                </div>
                <div class="position-relative row form-group">
                    <label for="val_no_memo" class="col-sm-2 col-form-label" style="padding-left: 35px;">
                        No
                        Memo/Notin<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-6">
                        <input name="val_no_memo" id="val_no_memo" type="text" class="form-control" required>
                        <div class="invalid-tooltip">
                            Masukkan no memo/notin!.
                        </div>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="val_tanggal_memo" class="col-sm-2 col-form-label" style="padding-left: 35px;">
                        Tanggal
                        Memo/Notin<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-6">
                        <input name="val_tanggal_memo" id="val_tanggal_memo" type="datetime-local" class="form-control input-datepicker-close" required>
                        <div class="invalid-tooltip">
                            Masukkan tanggal memo/notin!.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header">
        <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>Informasi Debitur
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="col-sm-12">
                <div class="position-relative row form-group">
                    <label for="val_jenis_transaksi" class="col-sm-2 col-form-label" style="padding-left: 35px;">
                        Jenis
                        Transaksi<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-6">
                        <select name="select" id="val_jenis_transaksi" class="form-control" required>
                            <option value="" disabled selected hidden>Pilih</option>
                            <option value="Fasilitas Pencairan Baru / Tambahan">Fasilitas Pencairan Baru / Tambahan</option>
                            <option value="Fasilitas Pencairan Berikutnya / Pemindahbukuan">Fasilitas Pencairan Berikutnya / Pemindahbukuan</option>
                        </select>
                        <div class="invalid-tooltip">
                            Pilih jenis transaksi!.
                        </div>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="val_booking_officer" class="col-sm-2 col-form-label" style="padding-left: 35px;">
                        Nama Cabang
                        Booking Officer<span class="text-danger">*</span>
                    </label>
                    <div class="col-sm-5">
                        <select name="select" id="val_booking_officer" class="form-control" required>
                            <option value="" disabled selected hidden>Pilih</option>
                        </select>
                        <div class="invalid-tooltip">
                            Pilih nama cabang booking officer!.
                        </div>
                        <small class="form-text text-muted" style="font-style: italic;font-size: 86%;">
                            *Kode cabang
                            rekening Pinjaman
                        </small>
                    </div>
                    <div class="col-sm-2" style="padding-left: 0px;padding-right: 0px;">
                        <a onclick="javascript:prefPageBO()" id="prevBO" class="mb-2 btn btn-lg btn-primary active"
                           style="left: 15px;"><<</a>
                        <a onclick="javascript:nextPageBO()" id="nextBO" class="mb-2 btn btn-lg btn-primary active"
                           style="left: 15px;">>></a>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="val_no_rekening" class="col-sm-2 col-form-label" style="padding-left: 35px;">
                        No
                        Rekening<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-6">
                        <div class="form-row">
                            <div class="col-md-10">
                                <div class="position-relative form-group" style="margin-bottom: 0px;">
                                    <input name="val_no_rekening" id="val_no_rekening" type="text" class="form-control"
                                           required>
                                    <div class="invalid-tooltip">
                                        Masukkan nomor rekening!.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="position-relative form-group" style="margin-bottom: 0px;">
                                    <a onclick="javascript:getBankAccount()" id="cariNorek" class="mb-2 mr-2 btn btn-lg btn-primary active"
                                       style="left: 15px;">Cari</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="val_nama_debitur" class="col-sm-2 col-form-label" style="padding-left: 35px;">
                        Nama
                        Debitur<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-6">
                        <input name="val_nama_debitur" id="val_nama_debitur" type="text" class="form-control" required>
                        <div class="invalid-tooltip">
                            Masukkan nama debitur!.
                        </div>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="val_cif" class="col-sm-2 col-form-label" style="padding-left: 35px;">
                        CIF<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-6">
                        <input name="val_cif" id="val_cif" type="text" class="form-control" required>
                        <div class="invalid-tooltip">
                            Masukkan nomor CIF!.
                        </div>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="val_currency" class="col-sm-2 col-form-label"
                           style="padding-left: 35px;">Nominal<span class="text-danger"> *</span></label>
                    <div class="col-sm-6">
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <select name="val_currency" id="val_currency" class="form-control" required>
                                        <option value="" disabled selected hidden>Pilih</option>
                                        @foreach (var items in ViewBag.Curency)
                                        {
                                            <option value=@items.currency>
                                                @items.currency
                                            </option>
                                        }
                                    </select>
                                    <div class="invalid-tooltip">
                                        Pilih mata uang!.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="position-relative form-group">
                                    <input name="val_nominal" id="val_nominal" type="text" class="form-control" required>
                                    <div class="invalid-tooltip">
                                        Masukkan nominal!.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="val_debitur_unit_tujuan" class="col-sm-2 col-form-label" style="padding-left: 35px;">
                        Unit
                        Tujuan<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-5">
                        <select name="select" id="val_debitur_unit_tujuan" class="form-control" required>
                            <option value="" disabled selected hidden>Pilih</option>

                        </select>
                        <div class="invalid-tooltip">
                            Pilih unit tujuan!.
                        </div>
                        <small class="form-text text-muted" style="font-style: italic;font-size: 86%;">
                            *Unit yang
                            melakukan proses pembukuan
                        </small>
                    </div>
                    <div class="col-sm-2" style="padding-left: 0px;padding-right: 0px;">
                        <a  onclick="javascript:prefPageUT()" id="cariNorek" class="mb-2 btn btn-lg btn-primary active"
                           style="left: 15px;"><<</a>
                        <a  onclick="javascript:nextPageUT()" id="cariNorek" class="mb-2 btn btn-lg btn-primary active"
                           style="left: 15px;">>></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header">
        <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>Informasi Tambahan
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="card-body">
                <div class="position-relative row form-group">
                    <label for="val_tproses_jenis_transaksi" class="col-sm-2 col-form-label"
                           style="padding-left: 35px;">
                        Jenis Transaksi<span class="text-danger">
                            *
                        </span>
                    </label>
                    <div class="col-sm-8">
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="position-relative form-group" style="margin-bottom: 0px;">
                                    <select name="val_tproses_jenis_transaksi"
                                            id="val_tproses_jenis_transaksi" class="form-control" required>
                                        <option value="" disabled selected hidden>
                                            Jenis Tranksaksi
                                        </option>
                                        @foreach (var items in ViewBag.JenisTransaksi)
                                         {
                                        <option value=@items.idTransaksi>
                                            @items.nomor.
                                            @items.jenisTransaksi
                                        </option>
                                         }
                                    </select>
                                    <div class="invalid-tooltip">
                                        Pilih Jenis Transaksi!.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 form-check">
                                <div class="position-relative form-group" style="margin-bottom: 0px;">
                                    <a onclick="javascript:getTimeProses()" id="btn_filter_time_proses"
                                       class="mb-2 mr-2 btn btn-lg btn-primary active">
                                        Search
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <table id="tabel-time_proses" class="mb-0 table table-hover"
                           style="margin: auto; width: 100% !important;">
                        <thead>
                            <tr>
                                <th class="text-center"><b>Nama Proses</b></th>
                                <th class="text-center"><b>Waktu Proses</b></th>
                                <th class="text-center"><b>Jumlah Transaksi</b></th>
                                <th class="text-center"><b>Total Waktu Proses</b></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="form-row" style="margin-top:15px;">
                    <div class="col-md-3">
                        <div class="position-relative form-group">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="position-relative form-group">
                            <label>Estimasi total waktu penyelesaian</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="position-relative form-group">
                        </div>
                    </div>
                    <div class="col-md-2" style="margin-left: 95px;padding-right: 70px;">
                        <div class="position-relative form-group">
                            <input name="grand_total" id="grand_total" type="text" class="form-control" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header">
        <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>File Upload
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="col-sm-12">
                <div class="position-relative row form-group">
                    <div class="col-sm-12" style="margin-left: 35px;">
                        <a style="font-style: normal;font-size: 120%; color: red;">Besar file maksimum : 2Mb</a>
                        <small class="form-text" style="font-style: italic;font-size: 86%; color: red;">
                            Jenis file yang
                            diperbolehkan : PDF, EXCEL, RAR, ZIP
                        </small>
                        <input name="file" id="fileSelect" type="file" class="form-control-file"
                               accept=".zip, .xlsx, .xls, .rar, .pdf">
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <table id="fileTable" class="mb-0 table table-hover table-bordered" style="margin-left: 35px;margin-right: 15px;">
                        <thead>
                            <tr>
                                <th><b>File Name</b></th>
                                <th><b>File Type</b></th>
                                <th><b>File Size</b></th>
                                <th><b>Created Time</b></th>
                                <th><b>Uploaded</b></th>
                                <th><b>Action</b></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header">
        <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>Inputer
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="col-sm-12">
                <input type="hidden" id="val_hide_memo_id" value="@ViewBag.MemoInitialization.idMemo" />
                <input type="hidden" id="val_hide_user_npp" value="@ViewBag.MemoInitialization.data.npp" />
                <div class="position-relative row form-group">
                    <label for="val_nama_inputer" class="col-sm-2 col-form-label" style="padding-left: 35px;">
                        Nama
                        RO<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-6">
                        <input name="val_nama_inputer" id="val_nama_inputer" type="text" class="form-control"
                               disabled required value="@ViewBag.MemoInitialization.data.nama">
                        <div class="invalid-tooltip">
                            Masukkan nama inputer!.
                        </div>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="val_no_tlp" class="col-sm-2 col-form-label" style="padding-left: 35px;">
                        No Telp<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-6">
                        <input name="val_no_tlp" id="val_no_tlp" type="text" class="form-control" required value="@ViewBag.MemoInitialization.data.noTlp">
                        <div class="invalid-tooltip">
                            Masukkan nomor telp inputer!.
                        </div>

                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="val_no_hp" class="col-sm-2 col-form-label" style="padding-left: 35px;">
                        No HP<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-6">
                        <input name="val_no_hp" id="val_no_hp" type="text" class="form-control" required value="@ViewBag.MemoInitialization.data.noHP">
                        <div class="invalid-tooltip">
                            Masukkan nomor HP inputer!.
                        </div>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="val_komentar" class="col-sm-2 col-form-label" style="padding-left: 35px;">
                        Komentar<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-6">
                        <textarea style="resize:none;" rows="9" name="val_komentar" id="val_komentar" type="text"
                                  class="form-control" required></textarea>
                        <div class="invalid-tooltip">
                            Masukkan komentar!.
                        </div>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="val_assign_to_checker" class="col-sm-2 col-form-label" style="padding-left: 35px;">
                        Assign to
                        (Checker)<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-6">
                        <select name="val_assign_to_checker" id="val_assign_to_checker" class="form-control" required>
                            <option value="" disabled selected hidden>Pilih</option>
                            @foreach (var items in ViewBag.UserChecker)
                            {
                            <option value=@items.nama>@items.nama</option>
                            }
                        </select>
                        <div class="invalid-tooltip">
                            Pilih nama checker!.
                        </div>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label for="val_assign_to_approver" class="col-sm-2 col-form-label" style="padding-left: 35px;">
                        Assign to
                        (Approver)<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-6">
                        <select name="val_assign_to_approver" id="val_assign_to_approver" class="form-control" required>
                            <option value="" disabled selected hidden>Pilih</option>
                            @foreach (var items in ViewBag.UserApprover)
                            {
                            <option value=@items.nama>@items.nama</option>
                            }
                        </select>
                        <div class="invalid-tooltip">
                            Pilih nama approver!.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body" style="float: right;">
        <button onclick="doDraft()" type="reset" class="mb-2 mr-2 btn btn-lg btn-secondary active">
            Draft
        </button>
        <button type="submit" class="mb-2 mr-2 btn btn-lg btn-primary active">
            Submit
        </button>
        <button type="reset" class="mb-2 mr-2 btn btn-lg btn-warning active">
            Cancel
        </button>
    </div>
</form>

<script src="~/lib/jquery/ext/jquery.min.js"></script>
<script type="text/javascript" src="~/js/pages/inputer.js"></script>